*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Montserrat";
  src: url(../../components/fonts/Montserrat/Montserrat-Bold.ttf);
}

.separarPagina {
  background-color: #1D1D1D;
  width: 100vw;
  height: 92vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.informacoesPaginaAluno {
  font-family: "Montserrat";
  width: 58vw;
  height: 80vh;
  border-radius: 20px;
  border: 0;
  background-color: #E0E0E0;
  display: flex;
  justify-content: center;
}
.separarInformacao{
  display: flex;
}

.informacoesPaginaAluno h1{
  font-size: 50px;
}

.nome {
  display: flex;
  flex-direction: column;
}

.parte1{
  display: flex;
  flex-direction: column;
  width: 29vw;
}

.parte2{
  display: flex;
  flex-direction: column;
  width: 29vw;
}
.inputNormal{
  background-color: #8D8D8D;
  width: 45vh;
  height: 5vh;
  border-radius: 20px;
  border: none;
}

.robson{
  display: flex;
  align-items: center;
  margin: 5px;
}
label{
  margin-left: 10px;
  margin-right: 3rem;
}
