*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1d1d1d;
}



.tituloPesquisa{
    height: 30vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tituloAlunos{
    color: white;
    font-size: 200%;
}

.pesquisa input{
    background-color: #d9d9d9;
    width: 35vw;
    height: 6vh;
    border-radius: 30px;
    color: #1d1d1d;
    border: none;
    box-shadow: none;
    padding-left: 10px; 
}



input:focus {
    outline: none;
}

.rostoAlunos{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}
.consultarBotao{
    justify-content: flex-end;
}
.lupaImg{
    width: 5vh;
    height: 5vh;
    display: flex;
    margin-top: 10px;
}

.aluno{
    margin-left: 10px;
    width: 20vw;
    height: 40vh;
    background-color: azure;
    margin-top: 20px;
    display: flex;
}
