@font-face {
  font-family: "Montserrat";
  src: url(../../components/fonts/Montserrat/Montserrat-Bold.ttf);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 8vh;
  background-color: #e0e0e0;
}

header div {
  display: flex;
  gap: 20px;
}

header div a {
  font-family: "Montserrat";
  font-size: 20px;
  text-decoration: none;
  color: black;
}

header div a:hover {
  text-decoration: underline;
}
