*{
    margin: 0;
    padding: 0;
}

.rostoAlunos {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

.aluno{
    margin-left: 10px;
    margin-bottom: 15px;
    width: 20vw;
    height: 40vh;
    background-image:url("../../images/rosto.png");
    background-size: 100%;
    display: flex;
    margin-top: 20px;
    display: flex;
    z-index: 0;
    align-items: flex-end;
}
.sombra img{
    width: 20vw;
    height: 40vh;
    filter: opacity(65%);
    z-index: 1;
}
.linha{
    width: 20vw;
    height: 1vh;
    background-color: #DB261D;
    position: absolute;
    z-index: 2;
}
.textos{
    z-index: 5;

}
.nomeAluno{
    width: 283px;
    font-size: 23px;
    color:white;
    
}
.turmaAluno{
 color: white;
 text-shadow: 0 0 10px #fff;
}

.textos {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-bottom: 10px;
    margin-left: 5px;
}

#baseAlunos:hover {
    background-color: rgba(0, 0, 0, 0.493);
}