.fundoHome{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/mulher.jpg");
  width: 100vw;
  height: 92vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#carometroTitulo{
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  color: white;
}